<font size="5">Naive_Bayes

In [1]:
from csv import reader
from math import sqrt
from math import exp
from math import pi
import pandas as pd

In [2]:
def load_csv(filename):
    dataset = list()
    with open(filename, 'r') as file:
        csv_reader = reader(file)
        for row in csv_reader:
            if not row:
                continue
            dataset.append(row)
    return dataset

In [3]:
def str_column_to_float(dataset, column):
    for row in dataset:
        row[column] = float(row[column].strip())

In [4]:
def str_column_to_int(dataset, column):
    class_values = [row[column] for row in dataset]
    unique = set(class_values)
    lookup = dict()
    for i, value in enumerate(unique):
        lookup[value] = i
    for row in dataset:
        row[column] = lookup[row[column]]
    return lookup

In [5]:
def separate_by_class(dataset):
    separated = dict()
    for i in range(len(dataset)):
        vector = dataset[i]
        class_value = vector[-1]
        if (class_value not in separated):
            separated[class_value] = [vector[:-1]]
        else:
            separated[class_value] += [vector[:-1]]
    return separated

In [6]:
def mean(numbers):
    return sum(numbers)/float(len(numbers))

In [7]:
def stdev(numbers):
    avg = mean(numbers)
    variance = sum([(x-avg)**2 for x in numbers]) / float(len(numbers)-1)
    return sqrt(variance)

In [8]:
def summarize_dataset(dataset):
    summaries = [(mean(column), stdev(column), len(column)) for column in zip(*dataset)]
    del(summaries[-1])
    return summaries

In [9]:
def summarize_by_class(dataset):
    separated = separate_by_class(dataset)
    summaries = dict()
    for class_value, rows in separated.items():
        summaries[class_value] = summarize_dataset(rows)
    return summaries

In [10]:
def calculate_probability(x, mean, stdev):
    exponent = exp(-((x-mean)**2 / (2 * stdev**2 )))
    return (1 / (sqrt(2 * pi) * stdev)) * exponent

In [11]:
def calculate_class_probabilities(summaries, row):
    total_rows = sum([summaries[label][0][2] for label in summaries])
    probabilities = dict()
    for class_value, class_summaries in summaries.items():
        probabilities[class_value] = summaries[class_value][0][2]/float(total_rows)
        for i in range(len(class_summaries)):
            mean, stdev, _ = class_summaries[i]
            probabilities[class_value] *= calculate_probability(row[i], mean, stdev)
    return probabilities

In [12]:
def predict(summaries, row):
    probabilities = calculate_class_probabilities(summaries, row)
    best_label, best_prob = None, -1
    for class_value, probability in probabilities.items():
        if best_label is None or probability > best_prob:
            best_prob = probability
            best_label = class_value
    return best_label

<font size="5">Medication as Prediction

In [29]:
# Make a prediction with Naive Bayes on Iris Dataset

df = pd.read_csv('Q1NumericalValues2.csv')
df

,Patient.ID,FRDPersonnelID,Shift,UnitId,FireStation,Fire.Station.Name,Station.Address,Station.City,Stattion.State,Station.Zip.Code,...,Dim_Medication_PK,Medication.Prescribed,Medication_Given_RXCUI_Code,Medication_Given_Description,FRDPersonnelID...Medication,Medication_Administered_Date_Time,Maleinteraction,Femaleinteraction,Mixedinteraction,Interaction
0,506561,C60CADD0-7A1F-42D7-B90E-687F0364A81E,A - Shift,M438,38,West Centreville,6001 ODay Drive,Centreville,Virginia,20120-1612,...,NaN,No Medication Prescribed,NaN,10,NaN,NaN,10,20,10,FemaleToFemale
1,530126,D2106DC5-10B0-4901-A713-2E08DCEF544B,A - Shift,M438,38,West Centreville,6001 ODay Drive,Centreville,Virginia,20120-1612,...,NaN,No Medication Prescribed,NaN,10,NaN,NaN,10,20,10,FemaleToFemale
2,530212,D2106DC5-10B0-4901-A713-2E08DCEF544B,A - Shift,M438,38,West Centreville,6001 ODay Drive,Centreville,Virginia,20120-1612,...,NaN,No Medication Prescribed,NaN,10,NaN,NaN,10,20,10,FemaleToFemale
3,510809,B0D3C99E-9E01-E211-B5F5-78E7D18CFD3C,A - Shift,M438,38,West Centreville,6001 ODay Drive,Centreville,Virginia,20120-1612,...,NaN,No Medication Prescribed,NaN,10,NaN,NaN,10,20,10,FemaleToFemale
4,1342992,BDD8C99E-9E01-E211-B5F5-78E7D18CFD3C,A - Shift,M438,38,West Centreville,6001 ODay Drive,Centreville,Virginia,20120-1612,...,433776.0,Medication Presribed,125464.0,25,0A89F8EB-32DE-4505-9DCA-CF9C68E09DCE,9/9/2020 10:52,10,20,10,FemaleToFemale
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795189,898016,62D3C99E-9E01-E211-B5F5-78E7D18CFD3C,C - Shift,M423,23,West Annandale,8914 Little River Turnpike,Fairfax,Virginia,22031-3123,...,NaN,No Medication Prescribed,NaN,10,NaN,NaN,20,10,10,MaleToMale
795190,899635,62D3C99E-9E01-E211-B5F5-78E7D18CFD3C,C - Shift,M423,23,West Annandale,8914 Little River Turnpike,Fairfax,Virginia,22031-3123,...,402822.0,Medication Presribed,4337.0,205,62D3C99E-9E01-E211-B5F5-78E7D18CFD3C,4/21/2019 6:37,20,10,10,MaleToMale
795191,899635,62D3C99E-9E01-E211-B5F5-78E7D18CFD3C,C - Shift,M423,23,West Annandale,8914 Little River Turnpike,Fairfax,Virginia,22031-3123,...,402822.0,Medication Presribed,4337.0,205,62D3C99E-9E01-E211-B5F5-78E7D18CFD3C,4/21/2019 6:37,20,10,10,MaleToMale
795192,899644,62D3C99E-9E01-E211-B5F5-78E7D18CFD3C,C - Shift,M423,23,West Annandale,8914 Little River Turnpike,Fairfax,Virginia,22031-3123,...,NaN,No Medication Prescribed,NaN,10,NaN,NaN,20,10,10,MaleToMale
795193,899914,62D3C99E-9E01-E211-B5F5-78E7D18CFD3C,C - Shift,M423,23,West Annandale,8914 Little River Turnpike,Fairfax,Virginia,22031-3123,...,NaN,No Medication Prescribed,NaN,10,NaN,NaN,20,10,10,MaleToMale

In [30]:
print('The shape of our features is:', df.shape)

The shape of our features is: (795194, 40)

In [31]:
df = df[['Procedure_Performed_Description', 'Maleinteraction', 'Femaleinteraction', 'Mixedinteraction', 'Medication_Given_Description']]
df

,Procedure_Performed_Description,Maleinteraction,Femaleinteraction,Mixedinteraction,Medication_Given_Description
0,10,10,20,10,10
1,10,10,20,10,10
2,10,10,20,10,10
3,40,10,20,10,10
4,70,10,20,10,25
...,...,...,...,...,...
795189,10,20,10,10,10
795190,40,20,10,10,205
795191,130,20,10,10,205
795192,10,20,10,10,10
795193,10,20,10,10,10

In [32]:
dataset = df.values.tolist()

In [33]:
model = summarize_by_class(dataset)
model

{10: [(101.8655266510781, 198.57042181897117, 409702),
  (14.125510737072311, 4.922938927356818, 409702),
  (10.85034976641559, 2.789340769659506, 409702)],
 25: [(218.96317576390703, 274.5007638845799, 45948),
  (15.045268564464177, 4.999849479498948, 45948),
  (10.66357621659267, 2.4890889114874937, 45948)],
 40: [(131.06528593951555, 171.69501538562753, 27908),
  (13.334527733983087, 4.714551788811254, 27908),
  (11.08427690984664, 3.1092537827952134, 27908)],
 55: [(237.88776225569825, 296.7230709193509, 58483),
  (14.583041225655318, 4.982626806180061, 58483),
  (10.773558128003009, 2.6715746561535694, 58483)],
 70: [(216.63511594888783, 249.15932088353554, 4226),
  (13.902035021296735, 4.878535101180385, 4226),
  (10.88973024136299, 2.847384943412317, 4226)],
 85: [(199.25233644859813, 262.5697043443521, 16371),
  (13.894080996884735, 4.876309632203291, 16371),
  (10.960234561114165, 2.946324058052037, 16371)],
 100: [(204.10808063696425, 266.0940205874224, 11806),
  (13.725224462137897, 4.834969226043048, 11806),
  (10.977469083516857, 2.9698471514584157, 11806)],
 115: [(481.966704949656, 333.76815453129615, 89683),
  (15.64287546134719, 4.95852652463572, 89683),
  (10.48660281212716, 2.1515802199692238, 89683)],
 130: [(289.3321844032744, 284.4819095419494, 4642),
  (15.609651012494615, 4.963228014919944, 4642),
  (10.652735889702715, 2.470346009409539, 4642)],
 145: [(192.726188108968, 215.75288796141672, 5029),
  (15.054682839530722, 5.000198130901993, 5029),
  (10.622390137204215, 2.416131762760239, 5029)],
 160: [(276.62372593431485, 350.4927410471833, 7064),
  (15.140147225368063, 4.998389295240663, 7064),
  (10.61862967157418, 2.4092355083816113, 7064)],
 175: [(139.86161839600803, 220.8183257443538, 19439),
  (15.229178455681877, 4.99487343923035, 19439),
  (10.546324399403261, 2.2726722926202254, 19439)],
 190: [(101.5512639928831, 148.42392512263, 26978),
  (15.048928756764772, 4.999853258184218, 26978),
  (10.640151234339092, 2.4478441219315306, 26978)],
 205: [(239.21047315043032, 283.03445124536285, 24749),
  (13.71610974180775, 4.832449625313579, 24749),
  (10.965695583659945, 2.9537671548894475, 24749)],
 220: [(261.8069896743447, 332.7461722929326, 2518),
  (14.809372517871326, 4.997357220068649, 2518),
  (10.683081810961081, 2.523241138363754, 2518)],
 235: [(284.6510705789056, 330.23541837877787, 2522),
  (14.262490087232356, 4.946289525724682, 2522),
  (10.796986518636004, 2.7087980927553583, 2522)],
 250: [(194.2962356792144, 225.33175971229946, 1222),
  (14.27986906710311, 4.949895123687386, 1222),
  (10.621931260229132, 2.416048621959792, 1222)],
 265: [(311.9903232900814, 328.8526065831127, 13641),
  (15.620555677736236, 4.961523482061742, 13641),
  (10.541016054541457, 2.262263767701552, 13641)],
 280: [(359.65686274509807, 361.4623597927356, 612),
  (14.542483660130719, 4.983096701965592, 612),
  (10.784313725490197, 2.6906911759852594, 612)],
 295: [(138.4878048780488, 141.8729365497398, 2665),
  (13.560975609756097, 4.789343991053947, 2665),
  (10.98311444652908, 2.977911686786445, 2665)],
 310: [(152.92699965071603, 211.9020313953577, 2863),
  (14.10757946210269, 4.92057338750276, 2863),
  (10.876702759343345, 2.8286418227063206, 2863)],
 325: [(567.9550621907182, 265.09788840385477, 7477),
  (16.36351477865454, 4.810813111852197, 7477),
  (10.391868396415674, 1.940522288476454, 7477)],
 340: [(495.2671755725191, 481.21872073798266, 786),
  (15.916030534351146, 4.918502440935336, 786),
  (10.432569974554708, 2.035646099612612, 786)],
 355: [(274.8663101604278, 311.1301862612674, 374),
  (15.401069518716577, 4.990564709376943, 374),
  (10.882352941176471, 2.8401674276686184, 374)],
 370: [(197.57101238164603, 319.8442805614356, 2746),
  (15.091041514930808, 5.000081588451573, 2746),
  (10.706482155863073, 2.562829764120924, 2746)],
 385: [(111.77296307598414, 147.5843326769072, 3277),
  (15.23344522429051, 4.995309594986096, 3277),
  (10.640830027464144, 2.449381132268477, 3277)],
 400: [(395.77464788732397, 355.1188824534586, 213),
  (15.352112676056338, 4.999335592316516, 213),
  (10.375586854460094, 1.9057423795426407, 213)],
 415: [(446.36581469648564, 355.76283927252683, 1252),
  (15.095846645367413, 5.001078892596301, 1252),
  (10.654952076677317, 2.4749648637583634, 1252)],
 430: [(303.83502170767, 328.7304018349127, 691),
  (13.97973950795948, 4.898345824470053, 691),
  (11.157742402315485, 3.2018577212113506, 691)],
 445: [(141.39240506329114, 151.14622925203514, 158),
  (13.670886075949367, 4.835435861863928, 158),
  (11.455696202531646, 3.5379560415168014, 158)],
 460: [(286.85714285714283, 204.87948749351267, 105),
  (15.333333333333334, 5.012804118276029, 105),
  (10.380952380952381, 1.9234431885641217, 105)],
 475: [(396.25, 671.2422282844384, 32),
  (17.5, 4.399413450640599, 32),
  (10.0, 0.0, 32)],
 490: [(505.0, 353.00012876639425, 12), (10.0, 0.0, 12), (10.0, 0.0, 12)]}

<font size="5">Remove the classes with zero in interactions

In [35]:
del model[475]
del model[490]

<font size="5">Select 20% as test dataset

In [36]:
m=0.2*len(df)
test = df.sample(n=int(m))
test

,Procedure_Performed_Description,Maleinteraction,Femaleinteraction,Mixedinteraction,Medication_Given_Description
570714,670,20,10,10,10
54075,130,10,10,20,295
328660,10,10,20,10,10
164709,40,20,10,10,10
547984,10,20,10,10,10
...,...,...,...,...,...
124932,130,10,10,20,205
81847,40,10,10,20,190
172248,10,20,10,10,10
271848,40,10,10,20,10
567662,130,20,10,10,25

In [37]:
test = test.values.tolist()

<font size="5"> Medication as Prediction Accuracy, got 52.9% accuracy

In [38]:
count = 0
s = len(test)
for row in test:
    label = predict(model, row[:-1])
    if label == row[-1]:
        count+=1
print('Accuracy: %s' % (count/s))

Accuracy: 0.5289364805895447

<font size="5"> Procedure as Prediction

In [39]:
df = df[['Medication_Given_Description', 'Maleinteraction', 'Femaleinteraction', 'Mixedinteraction', 'Procedure_Performed_Description']]
df

,Medication_Given_Description,Maleinteraction,Femaleinteraction,Mixedinteraction,Procedure_Performed_Description
0,10,10,20,10,10
1,10,10,20,10,10
2,10,10,20,10,10
3,10,10,20,10,40
4,25,10,20,10,70
...,...,...,...,...,...
795189,10,20,10,10,10
795190,205,20,10,10,40
795191,205,20,10,10,130
795192,10,20,10,10,10
795193,10,20,10,10,10

In [40]:
dataset = df.values.tolist()

In [41]:
model = summarize_by_class(dataset)
model

{10: [(17.99398735074733, 38.31936313748388, 211554),
  (13.950480728324683, 4.888621714282824, 211554),
  (10.860867674447187, 2.804927945814861, 211554)],
 40: [(63.40537063396474, 81.5319217794772, 182660),
  (14.49523705244717, 4.974469804805277, 182660),
  (10.804554910763166, 2.7199781260472053, 182660)],
 70: [(54.48772678762006, 76.32516004143713, 9370),
  (13.811099252934898, 4.856854179380652, 9370),
  (11.15154749199573, 3.1922563901465537, 9370)],
 100: [(64.70793787748059, 86.8184283453927, 11590),
  (14.482312338222606, 4.973342294420438, 11590),
  (10.849870578084555, 2.788744663678172, 11590)],
 130: [(81.27538428110601, 90.81958825086913, 179491),
  (14.363059986294578, 4.959278621153358, 179491),
  (10.788228936269785, 2.6946289095446123, 179491)],
 160: [(125.91312340153452, 81.99823498061716, 12512),
  (15.49792199488491, 4.975344421433795, 12512),
  (10.549072890025576, 2.2780831057096353, 12512)],
 190: [(124.48575949367088, 75.50034829735631, 5688),
  (15.610056258790436, 4.963079881481786, 5688),
  (10.446554149085795, 2.0656430082875614, 5688)],
 220: [(117.00965250965251, 68.09047771275698, 2590),
  (15.301158301158301, 4.991885904561624, 2590),
  (10.675675675675675, 2.5105084334966095, 2590)],
 250: [(120.97651882221393, 65.39780001664447, 10732),
  (15.584234066343646, 4.965981116247672, 10732),
  (10.50316809541558, 2.186080538508015, 10732)],
 280: [(120.67905918057663, 79.81692816242524, 1318),
  (14.749620637329286, 4.995622594866551, 1318),
  (10.614567526555387, 2.402573965131387, 1318)],
 310: [(125.46076018594476, 74.01090858643123, 21942),
  (15.46030443897548, 4.978880354658968, 21942),
  (10.503600401057334, 2.1869176053454336, 21942)],
 340: [(124.08973252804141, 65.2470859463714, 6954),
  (15.757837215990797, 4.94258998141639, 6954),
  (10.46448087431694, 2.1046860244036996, 6954)],
 370: [(47.78029730410683, 73.44592559180451, 11907),
  (14.40329218106996, 4.964474761190481, 11907),
  (10.72058453010834, 2.585955307486011, 11907)],
 400: [(128.83050847457628, 106.81810347189469, 295),
  (14.271186440677965, 4.955003341207761, 295),
  (10.745762711864407, 2.6315279719798355, 295)],
 430: [(32.77372262773723, 65.997674770957, 1233),
  (14.995944849959448, 5.002027164080894, 1233),
  (10.575831305758314, 2.330479817400597, 1233)],
 460: [(93.82765531062124, 81.17622167197199, 13473),
  (14.37096415052327, 4.960457663339155, 13473),
  (10.92184368737475, 2.8929677283934643, 13473)],
 490: [(62.479269041769044, 80.07447025428291, 13024),
  (14.252917690417691, 4.944061573834284, 13024),
  (10.767813267813267, 2.6625438545606372, 13024)],
 520: [(93.97477814105558, 81.63828424709538, 4282),
  (14.53993460999533, 4.979370457420004, 4282),
  (10.775338626809901, 2.674678854511536, 4282)],
 550: [(121.5690445026178, 62.90619443271656, 9168),
  (15.669720767888307, 4.955214661171978, 9168),
  (10.541012216404887, 2.2622966627556482, 9168)],
 580: [(124.18760240305843, 65.31232146814864, 7324),
  (15.578918623702895, 4.96671132261762, 7324),
  (10.479246313489897, 2.136213749132161, 7324)],
 610: [(32.333333333333336, 56.756199782158426, 1620),
  (13.314814814814815, 4.708910537080551, 1620),
  (11.296296296296296, 3.35999222198442, 1620)],
 640: [(19.074074074074073, 38.377026242932104, 243),
  (13.786008230452675, 4.86039502356093, 243),
  (10.946502057613168, 2.9333537393433766, 243)],
 670: [(24.766173031956352, 50.718434044286134, 3849),
  (14.871395167575994, 4.998995237089383, 3849),
  (10.709275136399064, 2.5673707639757586, 3849)],
 700: [(51.828341528833256, 78.2292631262553, 4474),
  (14.595440321859634, 4.984163316605025, 4474),
  (10.90523021904336, 2.869616874935468, 4474)],
 730: [(148.77925653969712, 92.39193951627576, 23969),
  (16.41536985272644, 4.795590438758744, 23969),
  (10.376319412574576, 1.9030840564754343, 23969)],
 760: [(105.11225220921901, 96.65734054626496, 4187),
  (13.50370193455935, 4.7714284582057545, 4187),
  (11.0054931932171, 3.007669510678496, 4187)],
 790: [(30.795698924731184, 58.15215016359021, 11160),
  (13.979390681003585, 4.8949467429696085, 11160),
  (10.89336917562724, 2.8524221869412414, 11160)],
 820: [(146.30434782608697, 141.7748586243395, 414),
  (14.27536231884058, 4.953197097903876, 414),
  (10.845410628019323, 2.785341376999304, 414)],
 850: [(107.02216066481995, 110.93321092134032, 361),
  (18.005540166204987, 4.001384801841722, 361),
  (10.277008310249307, 1.6434205258943264, 361)],
 880: [(95.38396545249718, 58.300081399614825, 5326),
  (14.481787457754413, 4.973540003448002, 5326),
  (10.865565152084116, 2.8121047753234425, 5326)],
 910: [(101.62325999101931, 98.87656665546606, 2227),
  (14.881005837449484, 4.9997064849574056, 2227),
  (10.682532555006736, 2.52236630336863, 2227)],
 940: [(101.9090909090909, 87.57125222902498, 715),
  (13.776223776223777, 4.85131819624013, 715),
  (11.062937062937063, 3.084289237583836, 715)],
 970: [(67.78260869565217, 92.61979508101585, 345),
  (15.855072463768115, 4.93349775183977, 345),
  (10.695652173913043, 2.5478236713047258, 345)],
 1000: [(137.44, 99.8002342030716, 250),
  (14.88, 5.008587003846534, 250),
  (10.72, 2.5900644267932273, 250)],
 1030: [(89.55357142857143, 78.81683673527246, 1512),
  (14.821428571428571, 4.998463411426618, 1512),
  (10.667989417989418, 2.49756078063482, 1512)],
 1060: [(134.72472472472472, 103.41764636046165, 2997),
  (14.768101434768102, 4.995452888892118, 2997),
  (10.7007007007007, 2.5530766622712266, 2997)],
 1090: [(55.2710843373494, 89.29226106494235, 166),
  (16.204819277108435, 4.867353300199142, 166),
  (10.421686746987952, 2.015819147297478, 166)],
 1120: [(97.72857142857143, 116.0256272240681, 350),
  (17.02857142857143, 4.576542371013303, 350),
  (10.314285714285715, 1.7472274979506124, 350)],
 1150: [(116.25088715400993, 58.927720636543356, 2818),
  (15.528743789921931, 4.972846815469877, 2818),
  (10.550035486160397, 2.280276515163467, 2818)],
 1180: [(109.57232422749664, 69.69174350623892, 4466),
  (15.434393193013882, 4.981652275755613, 4466),
  (10.653828929690999, 2.4722794395389003, 4466)],
 1210: [(85.35545023696683, 91.77348774829684, 211),
  (14.691943127962086, 5.00236910697965, 211),
  (10.616113744075829, 2.4102017434529195, 211)],
 1240: [(179.14473684210526, 53.58723826866946, 76),
  (14.210526315789474, 4.970085953579162, 76),
  (11.31578947368421, 3.402785236893605, 76)],
 1270: [(108.48571428571428, 90.62280403318708, 175),
  (14.685714285714285, 5.004431533687857, 175),
  (10.971428571428572, 2.9700198757579606, 175)],
 1300: [(99.72584856396867, 86.7141078916745, 766),
  (15.326370757180158, 4.992596782073693, 766),
  (10.574412532637076, 2.3283584179427432, 766)],
 1330: [(93.54922279792746, 43.561724788859216, 193),
  (15.181347150259068, 5.009705606027906, 193),
  (10.362694300518134, 1.874460198635713, 193)],
 1360: [(10.0, 0.0, 36),
  (10.0, 0.0, 36),
  (11.944444444444445, 4.013864859597432, 36)],
 1390: [(140.625, 102.99538302277472, 1488),
  (13.958333333333334, 4.891933485415947, 1488),
  (10.81989247311828, 2.7444057156713413, 1488)],
 1420: [(108.93895348837209, 53.64752933052985, 688),
  (15.523255813953488, 4.97616266972262, 688),
  (10.523255813953488, 2.22844777505285, 688)],
 1450: [(22.746781115879827, 44.97566679681664, 233),
  (15.321888412017167, 5.00036997299248, 233),
  (10.600858369098713, 2.3815742297377134, 233)],
 1480: [(71.2, 89.01708159857036, 50),
  (12.6, 4.43087497693452, 50),
  (12.2, 4.184519575964804, 50)],
 1510: [(115.52364864864865, 64.27403549282226, 888),
  (14.56081081081081, 4.98348074029157, 888),
  (10.574324324324325, 2.3279814973178707, 888)],
 1540: [(153.49056603773585, 104.97978242014568, 53),
  (15.471698113207546, 5.025334943237828, 53),
  (10.377358490566039, 1.9238024756109766, 53)],
 1570: [(109.0, 97.917227826132, 195),
  (12.35897435897436, 4.256512169588459, 195),
  (11.179487179487179, 3.2337762776682677, 195)],
 1600: [(56.698113207547166, 69.46874917368365, 53),
  (13.39622641509434, 4.7811312736048865, 53),
  (10.377358490566039, 1.9238024756109744, 53)],
 1630: [(59.849624060150376, 84.03629232592245, 133),
  (15.93984962406015, 4.92944061995888, 133),
  (10.526315789473685, 2.2414110388271244, 133)],
 1660: [(103.26848249027238, 54.45412614603954, 257),
  (17.626459143968873, 4.2629124057372305, 257),
  (10.311284046692608, 1.7400355557886023, 257)],
 1690: [(109.72972972972973, 94.3541345289262, 37),
  (15.945945945945946, 4.9774265212833395, 37),
  (10.0, 0.0, 37)],
 1720: [(21.25, 19.65000970371089, 60),
  (14.333333333333334, 4.997174342809083, 60),
  (10.333333333333334, 1.8102033471939258, 60)],
 1750: [(62.06896551724138, 143.38019008699393, 87),
  (16.32183908045977, 4.850064139766635, 87),
  (10.344827586206897, 1.8352338815966724, 87)],
 1780: [(162.9126213592233, 76.16907236035878, 103),
  (13.495145631067961, 4.7914830206739945, 103),
  (10.970873786407767, 2.9752452878930202, 103)],
 1810: [(105.38461538461539, 48.88875013855324, 78),
  (17.82051282051282, 4.155245752788543, 78),
  (10.0, 0.0, 78)],
 1840: [(105.35714285714286, 114.83424908059771, 28),
  (18.214285714285715, 3.9002102778747982, 28),
  (10.357142857142858, 1.889822365046136, 28)],
 1870: [(117.15542521994135, 97.55753600196454, 341),
  (18.12316715542522, 3.9103283221083807, 341),
  (10.117302052785924, 1.0782719261536324, 341)],
 1900: [(122.2, 63.48284357660278, 225),
  (15.422222222222222, 4.993249411209056, 225),
  (10.222222222222221, 1.4773421007131926, 225)],
 1930: [(28.75, 17.474471175321526, 8),
  (11.25, 3.5355339059327378, 8),
  (10.0, 0.0, 8)],
 1960: [(166.33802816901408, 86.52810338876228, 71),
  (16.619718309859156, 4.764050489066449, 71),
  (10.28169014084507, 1.6663312875171463, 71)],
 1990: [(25.0, 23.2379000772445, 6), (20.0, 0.0, 6), (10.0, 0.0, 6)],
 2020: [(185.0, 73.83713887281303, 27), (20.0, 0.0, 27), (10.0, 0.0, 27)],
 2050: [(112.5, 79.37253933193772, 72),
  (18.333333333333332, 3.7529331252040077, 72),
  (10.555555555555555, 2.3066889195377023, 72)]}

In [42]:
del model[1360]
del model[1690]
del model[1810]
del model[1930]
del model[1990]
del model[2020]

In [43]:
m=0.2*len(df)
test = df.sample(n=int(m))
test

,Medication_Given_Description,Maleinteraction,Femaleinteraction,Mixedinteraction,Procedure_Performed_Description
682652,10,20,10,10,10
458523,10,10,10,20,10
680365,10,20,10,10,130
620307,10,10,20,10,10
222997,10,10,10,20,10
...,...,...,...,...,...
42569,10,20,10,10,130
351311,160,20,10,10,370
104392,10,10,10,20,10
133922,10,10,10,20,130
706489,10,20,10,10,40

In [44]:
test = test.values.tolist()

<font size="5"> Procedurer as Prediction Accuracy is about 33%.

In [45]:
count = 0
s = len(test)
for row in test:
    label = predict(model, row[:-1])
    if label == row[-1]:
        count+=1
print('Accuracy: %s' % (count/s))

Accuracy: 0.33032357046743543

<font size="5"> Gender interaction as Prediction

In [46]:
df = pd.read_csv('Q1NumericalValues2.csv')
df

,Patient.ID,FRDPersonnelID,Shift,UnitId,FireStation,Fire.Station.Name,Station.Address,Station.City,Stattion.State,Station.Zip.Code,...,Dim_Medication_PK,Medication.Prescribed,Medication_Given_RXCUI_Code,Medication_Given_Description,FRDPersonnelID...Medication,Medication_Administered_Date_Time,Maleinteraction,Femaleinteraction,Mixedinteraction,Interaction
0,506561,C60CADD0-7A1F-42D7-B90E-687F0364A81E,A - Shift,M438,38,West Centreville,6001 ODay Drive,Centreville,Virginia,20120-1612,...,NaN,No Medication Prescribed,NaN,10,NaN,NaN,10,20,10,FemaleToFemale
1,530126,D2106DC5-10B0-4901-A713-2E08DCEF544B,A - Shift,M438,38,West Centreville,6001 ODay Drive,Centreville,Virginia,20120-1612,...,NaN,No Medication Prescribed,NaN,10,NaN,NaN,10,20,10,FemaleToFemale
2,530212,D2106DC5-10B0-4901-A713-2E08DCEF544B,A - Shift,M438,38,West Centreville,6001 ODay Drive,Centreville,Virginia,20120-1612,...,NaN,No Medication Prescribed,NaN,10,NaN,NaN,10,20,10,FemaleToFemale
3,510809,B0D3C99E-9E01-E211-B5F5-78E7D18CFD3C,A - Shift,M438,38,West Centreville,6001 ODay Drive,Centreville,Virginia,20120-1612,...,NaN,No Medication Prescribed,NaN,10,NaN,NaN,10,20,10,FemaleToFemale
4,1342992,BDD8C99E-9E01-E211-B5F5-78E7D18CFD3C,A - Shift,M438,38,West Centreville,6001 ODay Drive,Centreville,Virginia,20120-1612,...,433776.0,Medication Presribed,125464.0,25,0A89F8EB-32DE-4505-9DCA-CF9C68E09DCE,9/9/2020 10:52,10,20,10,FemaleToFemale
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795189,898016,62D3C99E-9E01-E211-B5F5-78E7D18CFD3C,C - Shift,M423,23,West Annandale,8914 Little River Turnpike,Fairfax,Virginia,22031-3123,...,NaN,No Medication Prescribed,NaN,10,NaN,NaN,20,10,10,MaleToMale
795190,899635,62D3C99E-9E01-E211-B5F5-78E7D18CFD3C,C - Shift,M423,23,West Annandale,8914 Little River Turnpike,Fairfax,Virginia,22031-3123,...,402822.0,Medication Presribed,4337.0,205,62D3C99E-9E01-E211-B5F5-78E7D18CFD3C,4/21/2019 6:37,20,10,10,MaleToMale
795191,899635,62D3C99E-9E01-E211-B5F5-78E7D18CFD3C,C - Shift,M423,23,West Annandale,8914 Little River Turnpike,Fairfax,Virginia,22031-3123,...,402822.0,Medication Presribed,4337.0,205,62D3C99E-9E01-E211-B5F5-78E7D18CFD3C,4/21/2019 6:37,20,10,10,MaleToMale
795192,899644,62D3C99E-9E01-E211-B5F5-78E7D18CFD3C,C - Shift,M423,23,West Annandale,8914 Little River Turnpike,Fairfax,Virginia,22031-3123,...,NaN,No Medication Prescribed,NaN,10,NaN,NaN,20,10,10,MaleToMale
795193,899914,62D3C99E-9E01-E211-B5F5-78E7D18CFD3C,C - Shift,M423,23,West Annandale,8914 Little River Turnpike,Fairfax,Virginia,22031-3123,...,NaN,No Medication Prescribed,NaN,10,NaN,NaN,20,10,10,MaleToMale

In [47]:
df = df[['Medication_Given_Description', 'Procedure_Performed_Description', 'Interaction']]
df

,Medication_Given_Description,Procedure_Performed_Description,Interaction
0,10,10,FemaleToFemale
1,10,10,FemaleToFemale
2,10,10,FemaleToFemale
3,10,40,FemaleToFemale
4,25,70,FemaleToFemale
...,...,...,...
795189,10,10,MaleToMale
795190,205,40,MaleToMale
795191,205,130,MaleToMale
795192,10,10,MaleToMale
795193,10,10,MaleToMale

In [48]:
dataset = df.values.tolist()

In [49]:
model = summarize_by_class(dataset)
model

{'FemaleToFemale': [(57.45525103080281, 78.32643356777355, 61845)],
 'MaleToMale': [(71.47505517522526, 85.48403337077711, 355685)],
 'Mixed': [(60.6614212633452, 79.71946605614195, 377664)]}

In [50]:
m=0.2*len(df)
test = df.sample(n=int(m))
test

,Medication_Given_Description,Procedure_Performed_Description,Interaction
682999,10,10,MaleToMale
72300,10,10,Mixed
455109,10,130,Mixed
240964,10,10,FemaleToFemale
212548,10,130,MaleToMale
...,...,...,...
225133,10,40,Mixed
710845,10,40,Mixed
373446,115,310,Mixed
32650,55,790,Mixed
444319,145,130,Mixed

In [51]:
test = test.values.tolist()

In [52]:
count = 0
s = len(test)
for row in test:
    label = predict(model, row[:-1])
    if label == row[-1]:
        count+=1
print('Accuracy: %s' % (count/s))

Accuracy: 0.4838906424879589